<div class="tweet-sidebar"></div>
<div class="thread column side-border">
  <%= react_component("Header", {}, class: "page-header row")%>
  <%= react_component("Thread", {tweet: @tweet}, class: "thread")%>
</div>
