$light-gray: #ebeef0;
$blue-gray: #5b7083;
$blue: #1b95e0;
$editor-color: #6082b6;
$selected-color: rgba(85, 205, 252, 0.4);
$shadow: rgba(0, 0, 0, 0.15);
$border: 1px solid $light-gray;
$border-radius: 5px;
